{% block content %}
  <form  method="POST">
    <p id="total_likes-{{ post.pk }}">{{ post.total_likes }}</p>
   {% csrf_token %}
        {% if request.user in post.likes.all %}
            <button type="button" id="dislike-{{ post.pk }}" name="post_id" value="{{ post.pk }}" class="like-dislike btn btn-danger">Unlike</button>
        {% else %}
            <button type="button" id="like-{{ post.pk }}" name="post_id" value="{{ post.pk }}" class="like-dislike btn btn-primary">Like</button>
        {% endif %}
  </form>
{% endblock content %}